#wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  position: relative;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.content:active {
  color: white;
  background-color: black;
  width: 100px;
  height: 100px;
}

.moved {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  opacity: 0.5;
}
