#wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  position: relative;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
}

.content:hover {
  background-color: gray;
  color: white;
}

.content:active {
  color: white;
  background-color: black;
  width: 120px;
  height: 120px;
}

#move {
  width: 100px;
  height: 100px;
}
